:root {
    --gray:#373a3c;
    --white:#fff;
    --black:#000000;
    --vintage:#660066;
    --white2:#dddddd;
 }

html {
    scroll-behavior: auto !important;
}

/* Navbar */

.navbar {
    background-color: var(--vintage);
}

.navbar-brand {
    color: var(--white);
    font-family: "Oswald";
    font-weight: bold;
    font-size: 40pt;
    padding: 0 0 0 0;
}

.nav-link {
    color: var(--white);
    font-weight: normal;
    font-size: 16pt;
}

.navbar-nav {
    padding: 0 0 0 35rem;
}

/* Hero Section */

#hero-section {
    background-size: cover;
    background-image: url("../img/img-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 150vh;
    position: relative;
}

#hero-section div {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: auto;
}

.hero-line {
    width: 345px;
}

#hero-section h1 {
    font-family: "Oswald";
    font-size: 72pt;
}

#hero-section h1:first-child {
    font-weight: 200;
}

#hero-section h1:last-child {
    font-weight: 900;
}

/* Sobre Mi */

#sobre-mi {
    color: var(--gray);
    font-family: "Open Sans";
    line-height: 3;
    text-align: justify;
}

/* Mi Experiencia */

#experiencia div h1 {
    font-family: "Oswald";
    font-size: 52pt;
}

#experiencia i {
    color: var(--vintage);
}

#experiencia div:last-child article h4:first-child {
    font-family: "Oswald";
}

#experiencia div:last-child article h4:last-child {
    font-family: "Open Sans";
    font-weight: 300;
}

/* Mis últimos trabajos*/

#trabajos {
    background-color: var(--vintage);
    font-family: "Oswald";
}

#trabajos h1 {
    font-size: 52px;
}

/* Contacto */

#contacto h1 {
    font-family: "Oswald";
    font-size: 52px;
}

/* Footer */

#footer {
    background-color: var(--vintage);
}

#footer h1 {
    font-family: "Oswald";
}

#footer a {
    color: var(--white);
    text-decoration: none;
}